@charset "utf-8";

/* 基本レイアウト ここから↓ */
@import url(common.css);
header {
	font-size: 90%;
	width: 90%;
	height: 50px;
	margin: 40px auto 40px auto;
	position: relative;
	border: solid;
}
header h1 {
	margin-top: 15px;
	text-align: center;
}
footer p {
	padding: 14px 0px 14px 0px;
	margin: 10px 0px 0px 0px;
	text-align: center;
}
footer small {
	font-size: 200%;
}

#contents{
	width: 76%;
	height: 100%;
	margin: 25px 0px 0px 20px;
	padding: 20px 20px 20px 20px;
	border: solid;
}

#contents img{
	width: 100%;
	height: 100%;
	margin: 0px 0px 20px 0px;
	}

#contents h1{
	width: 100%;
	text-align: center;
	font-size: 200%;
	margin: 0px 0px 30px 0px;
}

#contents h2{
	width: 100%;
	margin: 0% 0% 10% 0%;
	line-height: 100%;
	font-size: 200%;
	text-align: center;
}

#mainnav {
	padding: 20px 0px 0px 0px;
	text-align: center;
	list-style: none;
}

#mainnav li{
	font-size: 150%;
	display: inline-block;
  	list-style: none;
  	margin: 0px 10px 20px 10px;
	font-weight:bold;
}

#sp{
	display: block;
}

#main p {		
	text-align: center;

}

#main h1 {
	margin: 0px 0px 25px 520px;
	font-size: 200%;
	float: center;
}

#main h2 {
	text-align: center;
	font-size: 150%;
	margin: 10px 0px 10px 0px;
}

#main span{
	color: rgb(255, 0, 0);
}

	
#nav {
	width: 76%;
	height: 750px;
	margin: 10% 0% 0% 5%;
	padding: 20px 20px 0px 20px;
	border: solid;
}

#Geminiano {
	width: 40%;
	height: 150px;
	padding: 0px 0px 30px 0px;
	float: left;
}

#Geminiano img{
	width: 110%;
	height: auto;
	border: solid;
}


#Geminiano h1 {
	width: 105%;
	height: 0px;
	font-size: 95%;
	margin: 0px 0px 0px 5px;
	text-align: center;
}

#Eliza {
	width: 40%;
	height: 20%;
	margin: 0px 15px 30px 0px;
	float: right;
}

#Eliza img{
	width: 110%;
	height: auto;
	border: solid;
}

#Eliza h2 {
	width: 105%;
	height: 10px;
	font-size: 95%;
	margin: 0px 0px 0px 5px;
	text-align: center;
}

#Johnson {
	width: 40%;
	height: 150px;
	padding: 60px 0px 30px 0px;
	float: left;
}

#Johnson img{
	width: 110%;
	height: auto;
	border: solid;
}

#Johnson h3 {
	width: 105%;
	height: 20px;
	font-size: 95%;
	margin: 0px 0px 0px 5px;
	text-align: center;
}

#Wakalimasittang {
	width: 40%;
	height: 20%;
	margin: 60px 15px 30px 0px;
	float: right;
}

#Wakalimasittang img{
	width: 110%;
	height: auto;
	border: solid;
}

#Wakalimasittang h4 {
	width: 105%;
	height: 20px;
	font-size: 95%;
	margin: 0px 0px 0px 5px;
	text-align: center;
}

#Julian {
	width: 40%;
	height: 190px;
	padding: 60px 0px 0px 0px;
	float: left;
}

#Julian img{
	width: 110%;
	height: auto;
	border: solid;
}

#Julian h5 {
	width: 105%;
	height: 20px;
	font-size: 95%;
	margin: 0px 0px 0px 5px;
	text-align: center;
}

#Louis {
	width: 40%;
	height: 20%;
	margin: 60px 15px 30px 0px;
	float: right;
}

#Louis img{
	width: 110%;
	height: auto;
	border: solid;
}

#Louis h6 {
	width: 105%;
	height: 20px;
	font-size: 95%;
	margin: 0px 0px 0px 5px;
	text-align: center;
}


/* 基本レイアウト ここまで↑ */

/* ホームレイアウト↓ */

#home {
	width: 78%;
	height: auto;
	margin: 25px 0% 25px 10%;
	font-size: 100%;
	border: solid;
}

#images_1 {
    align-items: left;
    text-align: center;
    font-size: 200%;
    margin: 20px;
}

#Gemini p{
	font-size: 65%;
	margin-top: 20px
}

#Elichan p{
	font-size: 65%;
	margin-top: 20px
}

#Johnsonkun p{
	font-size: 65%;
	margin-top: 20px
}

#images_2 {
    justify-content: space-around;
    align-items: left;
    text-align: center;
    font-size: 200%;
    margin: 20px;
}

#wakachan p{
	font-size: 65%;
	margin-top: 20px
}

#korochan p{
	font-size: 65%;
	margin-top: 20px
}

#ruisukun p{
	font-size: 65%;
	margin-top: 20px
}

#images_1 img {
	width: 150px;
	height: 200px;
	border: solid;
}

#images_2 img {
	width: 150px;
	height: 200px;
	border: solid;
}

#footermodoki{
	text-align: center;
}i
